@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    color: rgb(0, 63, 0)
}

body {
    margin: 0;
    background-color: rgb(195, 255, 195);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.blurred {
    filter: blur(3px);
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-right: 2px solid rgb(14, 95, 14);
}

.weather-icon {
    width: 45px;
    height: 45px;
    object-fit: contain;
    color: rgb(14, 95, 14);
}

.large{
    width: 80px;
    height: 80px;
}

.header-current-temp {
    font-size: 2rem;
    margin-left: 1rem;
}

.header-right {
    display: grid;
    width: 50%;
    justify-content: space-around;
    gap: 0.5rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-weight: 500;
    font-size: 1rem;
}

.value-sub-info {
    font-weight: lighter;
    font-size: 0.9rem;
}

.day-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, 90px);
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
}

.day-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(0, 63, 0);
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.day-card-day {
    font-size: 0.75rem;
    color: rgb(0, 63, 0);
    margin-top: 0.5rem;
}

.hour-section {
    width: 100%;
    text-align: center;
    border-spacing: 0;
}

.hour-row {
    background-color: rgb(147, 228, 147);
}

.hour-row:nth-child(2n){
    background-color: rgb(195, 255, 195);
}

.hour-row > td {
    padding: 1rem 0.5rem;
    width: calc(100%/6);
}

.weather-icon {
    color: rgb(0, 63, 0);
}